h1 {color:#005677;
  background-color:#C4C4C4; 
  text-align:center;
  font-size: 35px;
  letter-spacing: 10px;
  
}


h2.categoria{color: #005677;
background-color: #C4C4C4;
font-size: 20px;
letter-spacing: 5px
} 


p.pie{background-color:#005677;
  color:#FFFFFF;
  text-align:center;

}

